{{#section 'title'}}Hồ sơ cá nhân{{/section}}

{{#section 'css_js'}}
<link rel="stylesheet" type="text/css" href="/assets/css/profile.css"/>
<script type="text/javascript" src="/assets/js/profile.js"></script>
{{/section}}
<form action="" method="post">
    <div class="p_title">HỒ SƠ CÁ NHÂN</div>
    <span class="p_line"></span>
    <div class="p_inputs">
        {{#with User}}
        <input type="text" class="p_input" placeholder="Email" id="email_us" name="email" value="{{email}}" readonly/>
        <input type="text" class="p_input" placeholder="Họ tên" id="name_us" name="fullName" value="{{fullName}}"/>
        <input type="text" class="p_input" placeholder="Số điện thoại" id="phone_number_us" name="phone" value="{{phone}}"/>                    
        <input type="text" class="p_input" placeholder="Địa chỉ" id="address_us" name="address" value="{{address}}"/>
        <input type="password" class="p_input" placeholder="Mật khẩu mới" id="pass_new_us" name="password_new"/>
        <input type="password" class="p_input" placeholder="Nhập lại mật khẩu" id="conf_pass_new_us" name="password_rep"/>
        {{/with}}
    </div>
    <div class="p_button">
        <button type="submit" class="p_buttonEdit" onclick="buttonEdit()">CẬP NHẬT THÔNG TIN</button>
    </div>
    <div class="p_title">LỊCH SỬ MUA HÀNG</div>
    <span class="p_line"></span>
    <table>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày mua</th> 
            <th>Trạng thái</th>
            <th>Chi tiết</th>
        </tr>
        {{#each Carts}}
        <tr>
            <td>{{cartID}}</td>
            <td>{{date_format createDate}}</td>
            <td>{{status}}</td>
            <td>
                <a href="#" class="p_button_table">Chi tiết</a>
            </td>
        </tr>
        {{/each}}
    </table>
    <div class="p_title"></div>
    <span class="p_line"></span>
</form>
