<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{{_sections.title}}}</title>
	{{{_sections.css_js}}}
	<link rel="stylesheet" type="text/css" href="/assets/css/navigationBar.css">
	<script type="text/javascript" src="/assets/js/navigationBar.js"></script> 
	<link rel="icon" href="/img/homepage-logo.png">
</head>

<body style="background-color: white">
	<div class="navigation-bar" id="navBar" style="z-index: 1;">
		<form id="frmLogout" method="post" action="/account/logout"></form>
		{{#if layoutVM.curUser.isAdmin}}
		<a href="#" onclick="log_out()">豆 ﾄ斉ハg xu蘯･t</a>
		<a href="#">側 Admin</a>
		{{else}}
		<form class="search-bar">
			<input type=text name="search" placeholder="Tﾃｬm ki蘯ｿm...">
		</form>
		<a href="javascript:void(0);" class="dropdown-icon" onclick="dropdownNav()">&#9776;</a>
		{{#if layoutVM.isLogged}}
		<a href="#" onclick="log_out()">豆 ﾄ斉ハg xu蘯･t</a>
		<a href="#">側 {{layoutVM.username}}</a>
		{{else}}
		<a href="/account/signup">淘 ﾄ斉ハg kﾃｽ</a>
		<a href="/account/signin">踏 ﾄ斉ハg nh蘯ｭp</a>
		{{/if}}
		<a href="/">匠 Trang ch盻ｧ</a>
		{{!-- Brands and Types --}}
		<div class="brand dropdown">
			<button class="brandButton button" onclick="brandFunction()">
				竍ｩ Hﾃ｣ng
			</button>
			<div class="dropdown-content" id="brandDropdown">
				<a href="#">Apple</a>
				<a href="#">Bphone</a>
				<a href="#">Htc</a>
			</div>
		</div> 
		<div class="type dropdown">
			<button class="typeButton button" onclick="typeFunction()">
				竍ｩ Lo蘯｡i
			</button>
			<div class="dropdown-content" id="typeDropdown">
				<a href="#">ﾄ進盻㌻ tho蘯｡i</a>
				<a href="#">Mﾃ｡y tﾃｭnh b蘯｣ng</a>
			</div>
		</div> 
		{{/if}}
	</div>
	<div style="margin-top: 50px;">
		{{{body}}}
	</div>
	
	<script>
		function log_out() {
			document.getElementById("frmLogout").submit();
		};
	</script>
</body>

</html>