{{#section 'title'}} Product Information {{/section}}

{{#section 'css_js'}}
    <link rel="stylesheet" type="text/css" href="/assets/css/productInformation.css">
{{/section}}

{{!-- Bên dưới này là nội dung trình bày body của template: {{{body}}} tronng main.handlebars --}}
<section>
    {{#each information}}
    <div>
        <h1>Điện thoại {{anhSP}}</h1>
        <div class="ratingresult">
            <a href="#danhgia">35 đánh giá</a>
        </div>
    </div>
    <div class="clr"></div>
    <aside class="picture">
        <img src="img/product/{{brandName}}/{{anhSP}}" alt="điện thoại {{anhSP}}">
    </aside>
    <aside class="area_price">
        <strong>{{Gia}}đ</strong>
        <div class="tsh">
            <span>NHẬN HÀNG TRONG 1 GIỜ</span>
        </div>
        <div class="area_promotion zero">
            <strong data-count="3">Khuyến mãi</strong>
            <h3>Phiếu mua hàng trị giá 100.000đ khi mua online</h3>
            <h3>Thùng cocacola (24 lon)</h3>
        </div>
        <div class="area_promotion zero">
            <strong data-count="3">Số lượt mua</strong>
            <h3>121 lượt mua {{anhSP}}</h3>
        </div>
    </aside>
    {{/information}}
    <div class="rightInfo">
        <ul class="checkexist">
            <strong>Kiểm tra: </strong>
            <ul>
                <ul class="policy">
                    <li>
                        Trong hộp có: Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim
                    </li>
                    <li>
                        Bảo hành chính hãng 12 tháng
                    </li>
                    <li>
                        1 đổi 1 nếu xảy ra lỗi sản phẩm tại nhà trong 1 ngày
                    </li>
                </ul>
    </div>
    <div class="clr"></div>
    <div class="box_content">
        <aside class="left_content">
            <div class="characteristics">
                {{#each information}}
                <h2 style="font-size: 24px">Đặc điểm nổi bật của {{TenSP}}</h2>
                <br/>
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="img/{{slide}}/slide-1.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/slide/{{slide}}/slide-2.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/slide/{{slide}}/slide-3.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/slide/{{slide}}/slide-4.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/slide/{{slide}}/slide-5.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/slide/{{slide}}/slide-6.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/slide/{{slide}}/slide-7.jpg" style="width:100%">
                    </div>
                </div>
                {{/information}}
                <script>
                    //khai báo biến slideIndex đại diện cho slide hiện tại
                    var slideIndex;
                    // KHai bào hàm hiển thị slide
                    function showSlides() {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }

                        slides[slideIndex].style.display = "block";
                        //chuyển đến slide tiếp theo
                        slideIndex++;
                        //nếu đang ở slide cuối cùng thì chuyển về slide đầu
                        if (slideIndex > slides.length - 1) {
                            slideIndex = 0
                        }
                        //tự động chuyển đổi slide sau 3s
                        setTimeout(showSlides, 5000);
                    }
                    //mặc định hiển thị slide đầu tiên 
                    showSlides(slideIndex = 0);


                    function currentSlide(n) {
                        howSlides(slideIndex = n);
                    }
                </script>
            </div>
        </aside>
        <aside class="right_content">
            {{#each information}}
            <div class="tableparameter">
                <h2 style="font-size: 24px">Thông số kĩ thuật</h2>
                <br />
                <ul class="parameter">
                    <li>
                        <span>Màn hình:</span>
                        <span>{{ManHinh}}</span>
                    </li>
                    <li>
                        <span>Hệ điều hành:</span>
                        <span>{{HDH}}</span>
                        <li>
                            <span>Camera sau:</span>
                            <span>{{CameraSau}} MP</span>
                        </li>
                        <li>
                            <span>Camera trước:</span>
                            <span>{{cameraTruoc}} MP</span>
                        </li>
                        <li>
                            <span>CPU:</span>
                            <span>{{CPU}}</span>
                        </li>
                        <li>
                            <span>Ram:</span>
                            <span>{{RAM}} GB</span>
                        </li>
                        <li>
                            <span>Bộ nhớ trong:</span>
                            <span>{{BoNhoTrong}} GB</span>
                        </li>
                        <li>
                            <span>Thẻ SIM:</span>
                            <span>{{SIM}}</span>
                        </li>
                        <li>
                            <span>Dung lượng pin</span>
                            <span>{{Pin}} mAh</span>
                        </li>
                </ul>
            </div>
            {{/information}}
        </aside>
    </div>
    <div>
        <h2 style="font-size: 24px">Các Sản phẩm cùng hãng</h2>
        <br/>
    </div>
    <div class="clr"></div>
    <aside>
        <div class="container">
            {{#each model}}
            <div class="columns">
                <ul class="info">
                    <li class="info_name">{{proName}}</li>
                    <li class="info_img">
                        <img src="/img/product/{{brandName}}/{{imgLink}}" alt="image" style="width: 100%">
                    </li>
                    <li class="info_price">{{number_format price}} đ</li>
                    <li class="info_sum">{{shortInfo}}</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a class="home_product_detail" href="/product/view?id ={{proID}}">Chi tiết</a>
                    </li>
                </ul>
            </div>
            {{/model}}
        </div>
    </aside>
</section>