{{#section 'title'}} Homepage {{/section}}

{{#section 'css_js'}}
    <link rel="stylesheet" type="text/css" href="/assets/css/homepage.css">
    <script type="text/javascript" src="/assets/js/homepage.js"></script> 
{{/section}}

{{!-- Bên dưới này là nội dung trình bày body của template: {{{body}}} tronng main.handlebars --}}
<button onclick="backToTopFunction()" id="backToTop">&#9650</button>

<div class="main-content">
    <div class="side">
        <p class="catergory">Nhà sản xuất</p>
        <div class="side-button">
            {{#each Category}}
                <button class="home_sidebtn"><a href="/brand/view?id={{brandID}}">{{brandName}}</a></button>
            {{/each}}
        </div>
    </div>
    <div class="main">
        <p class="catergory">Sản phẩm mới</p>
        <div class="container">
            {{#each newest}}
            <div class="columns">
                <ul class="info">
                    <li class="info_name">{{proName}}</li>
                    <li class="info_img">
                        <img src="/img/product/{{imgLink}}" alt="image" style="width: 100%">
                    </li>
                    <li class="info_price">{{number_format price}} đ</li>
                    <li class="info_sum">{{shortInfo}}</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a class="home_product_detail" href="/product/{{proID}}">Chi tiết</a>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
        <br>
        <a href="/product/more" class="see-more">xem thêm</a>

        <br>
        <hr width="100%">
        <p class="catergory">Bán chạy</p>
        <div class="container">
            {{#each bestseller}}
            <div class="columns">
                <ul class="info">
                    <li class="info_name">{{proName}}</li>
                    <li class="info_img">
                        <img src="/img/product/{{imgLink}}" alt="image" style="width: 100%">
                    </li>
                    <li class="info_price">{{number_format price}} đ</li>
                    <li class="info_sum">{{shortInfo}}</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a class="home_product_detail" href="/product/{{proID}}">Chi tiết</a>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
        <br>
        <a href="/product/more" class="see-more">xem thêm</a>

        <br>
        <hr width="100%">
        <p class="catergory">Xem nhiều</p>
        <div class="container">
            {{#each mostview}}
            <div class="columns">
                <ul class="info">
                    <li class="info_name">{{proName}}</li>
                    <li class="info_img">
                        <img src="/img/product/{{imgLink}}" alt="image" style="width: 100%">
                    </li>
                    <li class="info_price">{{number_format price}} đ</li>
                    <li class="info_sum">{{shortInfo}}</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a class="home_product_detail" href="/product/{{proID}}">Chi tiết</a>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
        <br>
        <a href="/product/more" class="see-more">xem thêm</a>
    </div>
</div>